*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #4a4a5a;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

body > header,
body > main {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 55em;
}

body > header {
  padding-top: 2em;
}

body > main {
  padding-bottom: 2em;
}

h1, h2, h3 {
  font-weight: 900;
}

h2, h3 {
  position: relative;
}

h3 {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

dd, dt {
  margin: 0;
  font-size: 0.8rem;
}

dl {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  min-height: 6em;
}

dt {
  flex: 0 0 25%;
  font-weight: 600;
  text-align: right;
  padding-right: 1em;
}

dd {
  flex: 0 0 75%;
  font-style: italic;
  overflow: auto;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875em;
}

.controls > * {
  flex: 0 0 100%;
  padding-left: 1em;
  margin-top: 1em;
}

@media(min-width: 50em) {
  .controls > * {
    flex: 1;
  }
}
